extends layout

block content
  .contentWrap
    .page
      - var articles = env.helpers.getArticles(contents);
      each article in articles
        article.article.intro
          header
            .date.muted
              span= moment(article.date).format('DD. MMMM YYYY')
            h2
              a(href=article.url)= article.title
          .summary
            !{ typogr(article.intro).typogrify() }
            if article.hasMore
              p.more
                a(href=article.url) more

block prepend footer
  .nav.bottom
    if prevPage
      a(href=prevPage.url) « Newer
    if nextPage
      a(href=nextPage.url) Next page »



